<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Customer</title>
    <link rel="icon" href="/static/img/kwesi2.png" type="image/icon type"/>
</head>
<body>
    <form action="/addUser" method="POST">
        First Name : <input type="text" name="FirstName"><br><br>
        Last Name: <input type="text" name="LastName"><br><br>
        Middle Name: <input type="text" name="MiddleName"><br><br>
        DoB: <input type="date" name="DoB"><br><br><br>
        Account Number: <input type="text" name="AccountNumber"><br><br><br>
        Phone: <input type="text" name="Phone"><br><br><br>
        Residential Address: <input type="text" name="ResidentialAddress"><br><br><br>
        Balance: <input type="number" name="Balance"><br><br><br>
        AccountFreeze: <input type="checkbox" name="AccountFreeze"><br><br><br>
        CardNumber: <input type="text" name="CardNumber"><br><br><br>
        SpendLimit: <input type="text" name="SpendLimit"><br><br><br>
        CardBlock: <input type="checkbox" name="CardBlock"><br><br><br>
        TravelNotification: <input type="date" name="TravelNotification"><br><br><br>
        CreditScore: <input type="number" name="CreditScore"><br><br><br>
        ATMPin: <input type="text" name="ATMPin"><br><br><br>
        <input type="submit" value="Add">
    </form>
</body>
</html>